/* style.css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    font-family: 'Noto Sans KR', sans-serif;
    background: #ccc;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

header {
    background-image: url(../images/header.jpg);
    height: 100px;
    position: relative;
}

header .logo {
    width: 130px;
    position: absolute;
    left: 30px;
    top: 25px;
}

/* 1단계 */
#gnb > ul > li a {
    color: #fff;
    font-size: 14px;
    font-weight: 500;
}

/* 2단계 */
#gnb .depth2 > li > a {
    font-size: 13px;
}

#gnb {
    position: absolute;
    right: 30px;
    top: 40px;
    width: 510px;
}

#gnb > ul > li {
    float: left;
    margin-left: 10px;
    min-width: 100px;
    text-align: center;
}

#gnb > ul > li:last-child {
    width: auto;
    margin-left: 30px;
}

/* 이벤트 버튼 */
#gnb .event-link {
    background-color: #aa0811;
    display: block;
    padding: 5px 50px 5px 30px;
}

#gnb .event-link:hover {
    background: #E50914;
}

#gnb .event-link span {
    margin-left: 1em;
}

/* 2단계 메뉴 액션 */
#gnb .depth2 {
    margin-top: 1em;
    padding-top: 5px;
    padding-bottom: 5px;
    transition: all 0.5s;
    opacity: 0;;
}

#gnb .depth2.on {
    opacity: 1;
    background: rgba(11, 11, 11, 0.5);
    border-radius: 10%;
}

#gnb .depth2 a:hover {
    text-decoration: underline;
}

#gnb ul li a:hover {
    font-size: 15px;
}

#gnb .depth2 > li {
    margin-bottom: 5px;
}

/* 섹션 */
.section-bg {
    width: 100%;
    height: 1080px;
    background: #777;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-attachment: fixed;
}

#school {
    background-image: url(../images/bg-1.jpg);
    /* height: 1080px; */
}

#thatyear {
    background-image: url(../images/bg-2.jpg);
    position: relative;
}

#sea {
    background-image: url(../images/bg-3.jpg);
}

.section-bg .title-group {
    text-align: center;
    color: #fff;
}

.section-bg .title-group h2 {
    margin-bottom: 1.5em;
}


.section-bg .title-group .section-nav a {
    color: #fff;
    font-size: 16px;
}

#school .title-group .section-nav a:hover {
    color: rgb(97, 55, 61);
    font-weight: 500;
    text-shadow: 1px 1px 2px #fff;
}

#thatyear .title-group .section-nav a:hover {
    color: rgb(50, 78, 7);
    font-weight: 500;
}

#sea .title-group .section-nav a:hover {
    color: rgb(90, 105, 116);
    font-weight: 500;
    text-shadow: 1px 1px 2px #fff;
}

.section-bg .title-group .section-nav li {
    display: inline-block;
}

.section-bg .title-group .section-nav li span {
    margin-left: 1em;
    margin-right: 1em;
    opacity: 0.75;
    font-size: 12px;
    display: inline-block;
}

footer {
    position: relative;
    background: #010101;
    color: #9b9b9b;
    font-size: 12px;
    overflow: hidden;
    padding-top: 1em;
    padding-bottom: 1em;
    height: 75px;
}

.footer-nav a {
    color: #9b9b9b;
}

footer .footer-logo {
    float: left;
    margin-left: 30px;
}

footer .footer-nav {
    float: right;
    margin-top: 18px;
    margin-right: 30px;
}

footer .footer-nav > li {
    display: inline-block;
    margin-left: 2em;
}

.player {
    margin-top: 25px;
}